# Anchor / Solana
.anchor/
target/
test-ledger/

# Node / frontend
node_modules/
.yarn/
dist/
build/

# OS
.DS_Store

# Rust backups
**/*.rs.bk

# Secrets (IMPORTANT)
.env
.env.*
*.keypair
**/id.json

# Logs
*.log
